<div class="row">
  <div class="col-12 col-md-6 offset-md-2">
    <nb-card status="danger">

      <nb-card-body>
        <div class="row alert-color-success">

          <div class="col-4 alert-color-success">
            Alerta
          </div>

          <div class="col-4 alert-color-success">
              Pendente
          </div>

          <div class="col-4 alert-color-success">
            3 min
          </div>

        </div>

        <hr/>

        <div class="row">
          <div class="col-12" >
              Veiculo
          </div>
        </div>

        <div class="row">
          <div class="col-4" >
              Data
          </div>
          <div class="col-8">
              01/01/01
          </div>
        </div>

        <div class="row">
          <div class="col-4" >
              Passagem
          </div>
          <div class="col-8">
              01/01/01
          </div>
        </div>


      </nb-card-body>

    </nb-card>

  </div>
</div>

