@import '../../../../@theme/styles/themes';

.item-danger {

  color: white;
  background-color: nb-theme(color-danger-500);
}

.item-primary {
    color: white;
    background-color: nb-theme(color-primary-default);
}
