<nb-card class="border shadow-sm">

  <nb-card-body>
    <div class="row mb-4">

      <div class="col-3 item-danger rounded-left text-center" >
        <div class="mt-2 mb-2">
          {{alert?.level}}
        </div>
      </div>

      <div class="col-9 item-primary rounded-right text-center">
        <div class="mt-2 mb-2">

          <div class="row">
            <div class="col-3">{{alert?.stage}}</div>
            <div class="col-9 text-right"> {{alert?.createdAt | ngxCurrentTime }}</div>
          </div>

        </div>
      </div>
    </div>

    <ngx-alert-by-plate *ngIf="alert?.veicle"
      [alert]="alert">

    </ngx-alert-by-plate>

    <ngx-alert-by-dfe
      (cteAlert)="gotoDFE($event)"
      *ngIf="alert?.entity"
      [alert]="alert">
    </ngx-alert-by-dfe>


    <div class="row form-group">
      <div class="offset-8 col-2">
        <button
          nbButton
          fullWidht
          status="success"
          disabled="true"
          >
          <nb-icon icon="car-outline" pack="eva"></nb-icon>
        </button>
      </div>

      <div class="col-2">
        <button
          nbButton
          fullWidht
          status="primary"
          (click)="gotoMap()"
          >
          <nb-icon icon="map-outline" pack="eva"></nb-icon>
        </button>
      </div>
    </div>


  </nb-card-body>
</nb-card>
