<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Dados do CT-E
      </nb-card-header>

      <nb-card-body>
        <div class="row show-grid">

          <div class="col-6">
              <b>Número: </b>
              157485
          </div>

          <div class="col-6">
            <b>Aut. de uso:</b>
             142090000575723
          </div>

          <div class="col-6">
              Autorização de uso:
          </div>
          <div class="col-6">
              31/08/2016 09:34:54
          </div>

        </div>
      </nb-card-body>

    </nb-card>
  </div>
</div>
