<div class="row form-group">
  <div class="col-3"><b>Entidade</b></div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Data:</b></div>
  <div class="col-9">2017-01-02 09:38:28</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Saida:</b></div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Data Emi.:</b></div>
  <div class="col-9">2017-01-02 09:38:28</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Nome:</b></div>
  <div class="col-9">Ambev S.A.</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Emit.:</b></div>
</div>

<div class="row form-group">
  <div class="col-3"><b>CPF/CNPJ:</b></div>
  <div class="col-9">07526570001099</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Nome:</b></div>
  <div class="col-9">REGRA LOGISTICA EM</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>DEST.:</b></div>
  <div class="col-9">DISTRIBUIÇÃO LTDA</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>CPF/CNPJ.:</b></div>
  <div class="col-9">06314519000120</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Placa:</b></div>
  <div class="col-9">BTA0202</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Reboque1:</b></div>
  <div class="col-9">CQK8822</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Motivo(s):</b></div>
  <div class="col-9">Transporte de bebidas</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Chave de acesso</b></div>
  <div class="col-9">
    <a href="#" target="_blank">
      446546asdasdasdqqweqwdasdasd
    </a>
  </div>
</div>

