<nb-card>

  <nb-card-body class="text-center">
    Consulta de DF-e
  </nb-card-body>

</nb-card>

 <nb-card status="primary">

  <nb-card-body>
    <div class="form-control-group">
      <label class="label">Chave de acesso:</label>
      <input
        nbInput
        fullWidth
        placeholder="Chave de acesso"
        fieldSize="large"
        autofocus>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="row">
      <div class="col-6">
        <button
          nbButton
          fullWidth
          size="tiny"
          status="primary"
          size="large"
          (click)="seaching = true"
          >
          Consultar
        </button>
      </div>

      <div class="col-6">
        <button
          nbButton
          fullWidth
          size="tiny"
          status="primary"
          size="large"
          (click)="seaching = false"
          >
          Limpar
        </button>
      </div>

    </div>
  </nb-card-footer>
</nb-card>

<ngx-events-item *ngIf="seaching"></ngx-events-item>

<ngx-cte-data *ngIf="seaching"></ngx-cte-data>
