<div class="row form-group">
  <div class="col-3"><b>Veiculo</b></div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Placa:</b></div>
  <div class="col-9">00E6477</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Data:</b></div>
  <div class="col-9">2017-01-02 09:38:28</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Pass</b></div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Sentido:</b></div>
  <div class="col-9" >GOAIANAPOLIS(GO) /ANAPOLIS(GO)</div>
</div>

<div class="row form-group">
  <div class="col-3"><b>Motivo:</b></div>
  <div class="col-9">
    Veiculo com reincidência no transporte de cerveja
    sem documentação fiscal
  </div>
</div>
