<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Eventos
      </nb-card-header>
      <nb-card-body>
        <div class="row show-grid">

          <div class="col-6">
              NF-e Cancelado:
          </div>

          <div class="col-6">
              31/08/2016 09:34:54
          </div>

          <div class="col-6">
              Autorização de uso:
          </div>
          <div class="col-6">
              31/08/2016 09:34:54
          </div>

        </div>
      </nb-card-body>

      <nb-card-footer>

        <div class="offset-4 col-4">
          <button nbButton status="primary" fullWidth class="d-flex justify-content-center">
            <nb-icon icon="plus-circle-outline" pack="eva"></nb-icon>
          </button>
        </div>

      </nb-card-footer>

    </nb-card>
  </div>
</div>
