<nb-card>

  <nb-card-header class="text-center">
    Resultado da fiscalização
  </nb-card-header>

</nb-card>

<nb-accordion class="form-group">

  <nb-accordion-item>
    <nb-accordion-item-header>
      Com Resultado
    </nb-accordion-item-header>

    <nb-accordion-item-body>
      <div class="form-group">
        <button
          nbButton
          fullWidth
          status="basic"
          class="form-control"
          disabled
          size="large">
          Termo de Apreensão
        </button>
      </div>

      <div class="form-group">
        <button
          nbButton
          fullWidth
          status="basic"
          class="form-control"
          disabled
          size="large">
          Auto de infração
        </button>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Sem Resultado
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="form-group">
        <button
          nbButton
          fullWidth
          status="basic"
          class="form-control"
          disabled
          size="large">
          Sem intercorrência
        </button>
      </div>

      <div class="form-group">
        <button
          nbButton
          fullWidth
          status="basic"
          class="form-control"
          disabled
          size="large">
          Não identificado
        </button>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>

</nb-accordion>

<button
  class="form-control form-group"
  nbButton
  fullWidth
  status="success"
  size="large">
  Concluir
</button>
