<nb-accordion class="form-group">

  <nb-accordion-item>
    <nb-accordion-item-header>
      Com Resultado
    </nb-accordion-item-header>

    <nb-accordion-item-body>
      <div class="form-group">
        <button
          nbButton
          fullWidth
          status="basic"
          class="form-control"
          size="large">
          Termo de Apreensão
        </button>
      </div>

      <div class="form-group">
        <button
          nbButton
          fullWidth
          status="basic"
          class="form-control"
          size="large">
          Auto de infração
        </button>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Sem Resultado
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="form-group">
        <button
          nbButton
          fullWidth
          status="basic"
          class="form-control"
          size="large">
          Sem intercorrência
        </button>
      </div>

      <div class="form-group">
        <button
          nbButton
          fullWidth
          status="basic"
          class="form-control"
          size="large">
          Não identificado
        </button>
      </div>
    </nb-accordion-item-body>
  </nb-accordion-item>

</nb-accordion>



  <button
    class="form-control form-group"
    nbButton
    fullWidth
    status="success"
    size="large">
    Concluir
  </button>
